.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  border: black solid 1px;
  border-radius: 5px;
  padding: 20px 0;
}

.groupBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.signin {
  position: fixed;
  top: 5px;
  right: 20px;
}

.text-input{
  display: flex;
  justify-content: space-between;
    align-items: baseline;
  width: fill-available;
  padding: 8px 20px;
}